<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhysicalSimulation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74C779861F04E3A800A5FD7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C7799F1F04E3A800A5FD7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74C779AA1F04E3A800A5FD7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
